<%- include('headmain') %>
<link rel='stylesheet' href='/stylesheets/style.css' />

<link rel='stylesheet' href='/stylesheets/home.css' />
<div class="section section-hero " style="background-image: url(images/0d703c7f616386ffcf73f0666aef0a87.png);">
</div>

<div class="background-filler" style="background-color: ;">
</div>
<main class="main" role="main">
    <div class="section section-intro waypoint header-dark" style="background-image: url(images/download.png);margin-bottom: -105px;">
        <div class="container">
        <div class="row no-gutters justify-content-between">
    
                <div class="col-sm-4 col-xs-12">
                  <div class="info-box">
                      <span class="info-box-icon bg-aqua"><i class="fa fa-list-alt"></i></span>
                      <div class="info-box-content">
                          <span class="info-box-text">Total Universities</span>
                          <span class="info-box-number"><%= totalPassCat %></span>
                      </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="warning-box">
                    <span class="info-box-icon bg-warning"><i class="fa fa-key"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total works</span>
                        <span class="info-box-number"><%= totalPassword %></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
              </div>
              <div class="col-sm-4 col-xs-12">
                  <div class="info-box">
                      <span class="info-box-icon bg-aqua"><i class="fa fa-bell"></i></span>
                      <div class="info-box-content">
                          <span class="info-box-text">Total Announcements</span>
                          <span class="info-box-number"><%= totalannounce %></span>
                      </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>
        </div>
        <!-- <div class="col-12 col-lg-4 desktop-only">
        <img class="intro-image" src="https://whereamazingthingshappen.co.uk/wp-content/uploads/2017/10/Swan-header-optimised.png" alt="" />
        </div> -->
        </div>
        </div>
<div class="section section-intro waypoint header-dark" style="background-image: url(images/download.jfif);">
<div class="container">
<div class="row no-gutters justify-content-between">
<div class="col-12 col-lg-7">
<div class="title-shape">
<h1 class="page-title tag-title" style="">
About us
</h1>
</div>
<h2>Who are we?</h2>
<p>Our organization believes in following our vision of providing a greater path for students of lpu to enhance their dreams also it supports innovative ideas of each and evry single verto. In our otaku organization you will come across so many opportunities through which you only gain knowledge but at same time achieves an amazing experience. </p>
<h2>What we do?</h2>
<p>Otaku organisation is an organization entity comprising great minds covering different areas of interest. We share equal Specialization and division of work. and more Oriented towards our goal of making it a success in technical as well as non -technical field.</p>
</div>
<a href="https://www.srisaianadhavrudhashramam.org"><h2 style="margin-top: 20px;">SRI SAI VRIDHASHRAM</h2></a>
<p>We all know that these days the rate of senior citizens rapidly increases who doesn't have a proper shelther. We all have the responsibility to take atleast care on them as a human being. By considering all these we "OTAKU" is starting a fund raiser for the old age home SRI SAI VRIDHASHRAM  in Mancheriyala, Telangana. So, please donate some amount as ur wish for these people. They are also like our parents..kindly donate something as a responsible citizen.</p>
</div>
<!-- <div class="col-12 col-lg-4 desktop-only">
<img class="intro-image" src="https://whereamazingthingshappen.co.uk/wp-content/uploads/2017/10/Swan-header-optimised.png" alt="" />
</div> -->
</div>
</div>
</div>
<!-- <div class="section section-video" style="background-image: url(images/download.png);">
<div class="container">
<div class="row justify-content-center">
<div class="col-12">
<div class="video">
<div class="title-shape">
<h2 class="tag-title section-title small-title" style="background-color: #e60064"> 
Watch our showreel </h2>
</div>
<iframe src="njklnlbjbjk" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen title="Otaku - Showreel"></iframe> <button class="play-button" type="button"></button>
</div>
</div>
</div>
</div>
</div> --><div class="section section-carousel zigzag header-dark" style="background-image: url(images/download.png);">
<div class="container">
<div class="row justify-content-center no-gutters">
<div class="col-10">
<div class="carousel" data-slick='{"autoplay": true, "autoplaySpeed": 4000, "dots": false}'>
<div class="slide">
<div class="inner-shape">
<h3 class="section-title small-title">Are you a fresh fit?</h3>
If you've got the talent and passion we’re looking for, we want to hear from you.
<a class="cta-arrow" href="https://whereamazingthingshappen.co.uk/join-us/"></a>
 </div>
<img width="300" height="200" src="images/hire.jpg" class="attachment-medium size-medium" alt="" sizes="(max-width: 300px) 100vw, 300px" /> </div>
</div>
</div>
</div>
</div>
</div>
<div class="section section-full zigzag has_bg" style="background-image: url(images/download.jfif);color: blue;">
<div class="container">
<div class="row no-gutters justify-content-center">
<div class="col-12 col-lg-12">
<h2 style="color: blue;">Our experience</h2>
<p><strong>fresh lives in the live environment.</strong></p>
<p>Through our unique <strong>&#8216;Joined Up Thinking&#8217;</strong> we use true insight to inform an overarching creative strategy. This fresh approach determines the live activation &#8211; from events, experiential, exhibitions, campaigns, comms projects and beyond – ensuring your brand&#8217;s ambitions and overall business goals are fully realised.</p>
<p>This approach has made us the trusted communications partner of some of the worlds&#8217; biggest brands delivering global projects across retail, financial, automotive, tech, pharmaceutical, hospitality, public and education sectors.</p>
<h4>Take a look at our joined-up thinking in action</h4>
<p><a class="cta-arrow" href="https://whereamazingthingshappen.co.uk/case-studies/"></a></p>
</div>
</div>
</div>
</div> </main>
<%- include('footmain') %>